@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3 {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  transition: all 0.2s ease-in-out;
}


a:hover,
.active {
  color: orange !important;
}

.primary-text {
  color: orange;
}

.top-ad {
  height: 90px;
}